.about{
  background-color: #1B262F;
  background-image: url(../../img/easy-bg.png);
  background-repeat: no-repeat;
  background-position: calc(50% - 570px) calc(50% - 180px);
}

.about__inner{
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__heading{
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: #FBFCFE;
}

.about__text{
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #FBFCFE;
  mix-blend-mode: normal;
  opacity: 0.7;
  max-width: 445px;
  margin-bottom: 40px;
}

.about__link{
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.115385px;
  color: #FBFCFE;
  width: 129px;
  height: 48px;
  text-decoration: none;
  border: 1px solid #FBFCFE;
  box-sizing: border-box;
  border-radius: 24px;
  padding: 15px 32px;
  margin-top: 100px;
}

.about__link:hover{
  background-color: rgb(228, 208, 208);
  color: rgba(0, 0, 0,0.7);
}

.about__link:active{
  background-color: white;
  color: black;
}

.about__list{
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 538px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.about__item-link{
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.about__item:nth-child(4){
  margin-top: 30px;
}

.about__item:nth-child(5){
  margin-top: 30px;
}

.about__item:nth-child(6){
  margin-top: 30px;
}

@include breakpoint-down(768px){
  .about{
    background-position:calc(50% + 1px) calc(50% - 480px);
  }
  
  .about__inner{
    flex-direction: column-reverse;
  }

  .about__inner-box{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .about__heading{
    margin-top: 60px;
  }

  .about__link{
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@include breakpoint-down(480px){
  .about{
    background-position:calc(50% + 1px) calc(50% - 560px);
  }

  .about__item-img{
    width: 100%;
    height: auto;
  }

  .about__heading{
    font-size: 32px;
  }
}


@include breakpoint-down(453px){
  .about__list{
    max-width: 316px;
  }

  .about__res{
    margin-top: 30px; 
  }
}
