body{
  background-color: #EDF3F8;
  background-size: 750px 750px;
  background-image: url(../img/header-hero-img.png);
  background-repeat: no-repeat;
  background-position: calc(50% + 500px) -100px;
}